.active-select {
    background-color: #78a1de;
    position: relative;
}
.select-bar {
    background-color: #adc6eb;
    width: 10px;
}

.primary-color {
    background-color: #5b8dd7;
}

.secondary-color {
    background-color: #78a1de;
}

.accent-color {
    background-color: #adc6eb;
}
